* {
  letter-spacing: 3px;
  font-family: sans-serif;
  align-items: center;
  font-family: "Anton", sans-serif;
}

body {
  background-color: royalblue;
  font-size: 2rem;
  color: white;
  text-shadow: 5px 5px black;
  margin: 0;
}

h1 {
  text-align: center;
}

button {
  background-color: chocolate;
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  width: 30%;
  text-shadow: 3px 3px black;
  align-content: center;
  position: relative;
  top: 150px;
  left: 35%;
}

button:hover {
  background-color: darkcyan;
}

.instructions {
  text-shadow: 3px 3px black;
  font-size: 2rem;
  text-align: center;
  align-content: center;
}
